<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Contatos</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <div class="w-6/12">
    <form>
      <mat-form-field class="full-width">
        <mat-label>Nome:</mat-label>
        <input matInput placeholder="digite seu nome" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Nome:</mat-label>
        <input matInput placeholder="digite seu nome" />
      </mat-form-field>
      <button mat-button color="primary">Primary</button>
    </form>
  </div>
</div>
