<div class="flex h-full">
  <div style="height:100% !important;width:calc(100% - 250px)">
    <img class="object-cover w-full h-full" src="../../assets/background_login.png">

  </div>
  <div class="relative bg-blue-500" style="width: 250px">
    <div class="absolute bg-white" style="width:400px;top:10%;left:-275px;height:525.59px">
      <div class="flex justify-center w-full">
        <img src="../../assets/logo.png">
      </div>
      <form id="form-login" class="wiggle" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="w-full pl-10 pr-10 pt-5">
          <mat-form-field class="w-full">
            <mat-label>Usuário</mat-label>
            <mat-icon matPrefix class="mr-2 {{!formulario.controls.login.pristine && formulario.controls.login.errors && formulario.controls.login.errors.required ? 'text-red-500' : ''}}">person</mat-icon>
            <input matInput formControlName="login" autocomplete="off" placeholder="Usuário">
          </mat-form-field>
          <div class="w-full text-size-sm text-red-500 mt-1 {{!formulario.controls.login.pristine && formulario.controls.login.errors && formulario.controls.login.errors.required ? 'opacity-1' : 'opacity-0'}}" >
            campo login obrigatório *
          </div>
        </div>
        <div class="w-full pl-10 pr-10 pt-1">
          <mat-form-field class="w-full">
            <mat-label>Senha</mat-label>
            <mat-icon matPrefix class="mr-2 {{!formulario.controls.senha.pristine && formulario.controls.senha.errors && formulario.controls.senha.errors.required ? 'text-red-500' : '' }}">lock</mat-icon>
            <input type="password" formControlName="senha" matInput autocomplete="off" placeholder="Senha">
          </mat-form-field>
          <div class="w-full absolute text-size-sm text-red-500 mt-1 {{!formulario.controls.senha.pristine && formulario.controls.senha.errors && formulario.controls.senha.errors.required ? 'opacity-1' : 'opacity-0' }}">
            campo de senha obrigatório *
          </div>
        </div>
        <div class="w-full pl-10 pr-10 pt-4 mt-5 {{ !flagCadastro ? 'hidden' : '' }}">
          <mat-form-field class="w-full">
            <mat-label>Confirmar Senha</mat-label>
            <mat-icon matPrefix class="mr-2 {{!formulario.controls.csenha.pristine && formulario.controls.csenha.errors && formulario.controls.csenha.errors.required ? 'text-red-500' : '' }}">lock</mat-icon>
            <input type="password" formControlName="csenha" matInput autocomplete="off" placeholder="Confirmação de Senha">
          </mat-form-field>
          <div class="w-full absolute text-size-sm text-red-500 mt-1 {{!formulario.controls.csenha.pristine && formulario.controls.csenha.errors && formulario.controls.csenha.errors.required ? 'opacity-1' : 'opacity-0 hidden' }}">
            campo de confirmação de senha obrigatório *
          </div>
          <div class="w-full absolute text-size-sm text-red-500 mt-1 {{!formulario.controls.csenha.pristine && formulario.controls.csenha.errors && formulario.controls.csenha.errors.csenhaValida && !formulario.controls.csenha.errors.required ? 'opacity-1' : 'opacity-0 hidden' }}">
            senha e confirmação não conferem *
          </div>
        </div>
        <div class="flex justify-center pl-10 pr-10 mt-11">
          <button [disabled]="!formulario.valid" mat-raised-button class="btn-login  w-10/12">
            <span *ngIf="!spinLogin">
             {{ !flagCadastro ? 'Acessar' : 'Cadastrar-se' }}
            </span>
            <mat-spinner [diameter]="32" *ngIf="spinLogin" class="spin-login"></mat-spinner>
          </button> 
        </div>
        <div class="text-center mt-3 text-sm text-blue-500 hover:underline">
          <a (click)="setState()" href="javascript:void(0)">
            {{ !flagCadastro ? 'Cadastre-se' : 'Realizar login' }}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
 