<div class="flex h-full">
  <div style="height:100% !important;width:calc(100% - 250px)">
    <img class="object-cover w-full h-full" src="../../assets/background_login.png">

  </div>
  <div class="relative bg-blue-500" style="width: 250px">
    <div class="absolute bg-white" style="width:400px;top:10%;left:-275px;height:80%;">
      <div class="flex justify-center w-full">
        <img src="../../assets/logo.png">
      </div>
      <form id="form-login" class="wiggle" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="w-full pl-10 pr-10 pt-10">
          <mat-form-field class="w-full">
            <mat-label>Usuário</mat-label>
            <mat-icon matPrefix class="mr-2">person</mat-icon>
            <input matInput formControlName="login" autocomplete="off" placeholder="Usuário">
          </mat-form-field>
        </div>
        <div class="w-full pl-10 pr-10 pt-10">
          <mat-form-field class="w-full">
            <mat-label>Senha</mat-label>
            <mat-icon matPrefix class="mr-2">lock</mat-icon>
            <input typ="password" formControlName="senha" matInput autocomplete="off" placeholder="Senha">
          </mat-form-field>
        </div>
        <div class="flex justify-center pl-10 pr-10 pt-10 mt-10">
          <button mat-raised-button class="btn-login  w-10/12">Acessar</button>
        </div>
      </form>
    </div>
  </div>
</div>
